# Official Verification

## Website links

- https://theqrl.org (and all subdomains)
- https://qrl.foundation

## Communication/social platforms

- Facebook: https://facebook.com/theqrl
- Youtube: https://youtube.com/c/QRLedger
- Twitter: https://twitter.com/qrledger
- LinkedIn: https://www.linkedin.com/company/the-quantum-resistant-ledger/
- Reddit: https://www.reddit.com/r/QRL
- Telegram Group: https://t.me/QRLedgerOfficial
- Telegram Announcements: https://t.me/TheQRLedger
- Medium: https://www.medium.com/the-quantum-resistant-ledger (no longer in use)

## Development related platforms

- Github: https://www.github.com/theQRL/

## App stores

- iOS: https://apps.apple.com/ca/app/qrl-wallet/id1458620542
- Android: https://play.google.com/store/apps/details?id=com.theqrl